$text_normal : white;
$bg_normal : black;
$bg_other : grey;
$bg_search : #212121;
$card_bg_1 : #e9abcf;
$card_bg_2 : #c8e054;
$card_bg_3 : #f5f0ed;
$card_bg_4 : #f5b401;

$left_indent : 15%;

$mediaUltraMaxWidth: 1440px;
$mediaMaxWidth: 1024px;
$mediaMinWidth: 768px;
$mediaUltraMinWidth: 320px;